.form__field {
	/* outline: 1px solid red; */
	display: block;
	font-size: 0;
	position: relative;
}

.form__field:first-of-type {
	margin-bottom: 2px;
}

.form__field:last-of-type {
	margin-bottom: 30px;
}