.form__item {
	border: 0;
	width: 100%;
	padding: 10px 0 11px;
	box-sizing: border-box;
	border-bottom: 1px solid rgba(0, 0, 0, .2);
	font-weight: 400;
	font-size: 14px;
	line-height: 1.21;
}

.form__item:first-of-type {
	margin-bottom: 18px;
}

.form__item:last-of-type {
	margin-bottom: 46px;
}

.form__item:focus {
	outline-color: #1aabee;
}